@import url(reset.css);
@import url(variables.css);


/* COMMON */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; /*font-size의 1.4배의 줄 높이 */
    font-family: 'Nanum Gothic', sans-serif;
    height:10000px;
}
img {
    display: block; 
}
a { 
    color: #333;
    text-decoration: none;
}
.inner {
     /* 페이지 가운데로*/
    padding: 0 170px;

}
/* .nodisplay {
    display: none;
} */

/* HEADER */
header {
    position: fixed;
    border-bottom: 1px solid var(--grey);
    background-color: rgb(246, 245, 241);
    width: 100%;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:121px;
    position: relative;
}
.header-menu .logo {
    display: block;
    box-sizing: border-box;
    height: 75px;
    margin: 22.5px;
    padding:;
    /* height:75px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; */
}
.menu {
    display: flex;
    flex-direction: column;
    font-size: 13px;
        
}
.user-menu {
    display: flex;
    
}
.user-menu a {
    display: block;
    padding: 11px 16px;
    color: var(--grey);
    border:1px solid black;
    height: 40.2px;
}
.user-menu a:hover{
    color: var(--black);
}
.user-menu li>span {
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    color: var(--black);
    border: 1px solid var(--grey);
    padding: 10px;
    border-radius: 10px;
}
.nav-menu {
    display: flex;
    text-transform: uppercase;  
}
.nav-menu>li {
    display: block;
    border-radius: 10px;
    padding: 10px 20px 34px;
}
.nav-menu>li:hover {
    color: var(--green);
    background-color: var(--brown);
}
.user-menu>i {
    display: block;
    height: 30px;
    border: 1px solid rgb(204,204,204);
    border-radius: ;
    background-color: rgb(200,200,200);
}

.dropdown-list {
    display: flex;
    background-color: var(--brown) ;
    justify-content: center;
    padding:20px 0;
    
}
.dropdown-list-content{
    
    width:280px;
}
.dropdown-list-title {
    color: rgb(253,253,253);
    display: block;
    padding: 20px 50px 20px 0;
    font-weight: 500;
}
.dropdown-list-list a {
    display: block;
    color: var(--grey);
    padding: 0 0 13px 0;
    
}
.dropdown-list-list a:hover {
    color:var(--green);
}
.dropdown-btm{
    background-image: url('../images/main_menu_pattern.jpg');
}
.dropdown-btm>div:first-child {
    padding-top: 40px;
    padding-bottom: 10px;
}
.dropdown-btm>div:last-child {
    padding-top: 10px;
    padding-bottom: 40px;
}
.dropdown-btm span {
    display: inline-block;
    color: rgb(204,204,204);
    margin: 0 0 10px 0;
}
.dropdown-btm p {
    color:var(--green);
}

.advr {
    position:fixed;
    right: 20px;
    top:150px;
}